@import url('https://fonts.googleapis.com/css?family=Inter');
#loyaltypage {
  font-family: Inter;
}

#bellicon-container {
  width: 8em;
  height: 8em;
  margin-top: 2em;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0.8;
  padding: 1em;
  border: 2px solid #BDBDBD;
  background-color: #67B57D;
}

#bellicon {
  width: 100%;
}

#top-save-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter;
}

#loyalty-text {
  width: 80%;
  margin: 0px;
  padding: 0px;
  font-size: 1.25em;
  text-align: center;
  color: #BDBDBD;
  font-family: Inter;
}

#toggleswitch {
  width: 90%;
  margin: 2em;
  display: flex;
  font-family: Inter;
  justify-content: space-around;
  background-color: #F6F6F6;
  border: 2px solid #E8E8E8;
  border-radius: 8%/50%;
  color: #C1C1C1;
}

#toggle-active {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: .5em;
  margin: .1em;
  color: #67B57D;
  background-color: #fafafa;
  width: 50%;
  border-radius: 20%/50%;
  font-weight: bold;
  font-family: Inter;
  text-decoration: none;
}

#toggle-active p, #toggle-inactive p{
  font-weight: bold;
  font-family: Inter;
}

#toggle-inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  color: #C1C1C1;
  border-radius: 10%/50%;
  font-weight: bold;
  font-family: Inter;
  text-decoration: none;
}

#loyalty-title {
  width: 100%;
  padding-left: 1em;
  text-align: left;
}

/* MODAL */
#store-image {
  width: 100px;
  height: 100px;
  border-radius: .5em;
  border: .25em solid #E8E8E8;
}

.center {
  text-align: center;
}

.progress-bar-container{
  background-color: #E8E8E8;
  width: 100%;
  border-radius: 1em;
  height: .5em;
}
.progress-bar{
  background-color: #67B57D;
  border-radius: 1em;
  height: .5em;
  width: 100%;
}

#points-container {
  display: flex;
  flex-direction: row;
}

.green-points-text {
  color: #67B57D;
  font-family: Inter;
}
.points-text {
  color: #BDBDBD;
  font-size: .75em;
  font-family: Inter;
}

.points-text-large {
  color: #BDBDBD;
  font-size: 1em;
  font-family: Inter;
}

.points-text-big {
  color: #BDBDBD;
  font-size: 1.05em;
  font-family: Inter;
}

.regular-text {
  font-family: Inter;
}

#form {
  display: flex;
  flex-direction: column;
}

#form div {
  margin: .5em;
}
input[type=submit] {
  background-color: #67B57D;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin: 1em;
  width: 50%;
  align-self: center;
}
