#forgotpassword {
  display: flex;
  justify-content: center;
  color: #5DB075;
}

#logintext {
  margin-left: 1em;
  font-size: 32px;
}

#rememberme {
  color: #8C8C8C;
}

#signup-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

#signup-container a {
  color: #5DB075;
  text-decoration: none;
}
